<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
</head>

<body style="margin: 0px; background-image: url('@Url.Content("~/Images/tlo.jpg")'); background-attachment: fixed;">
    <div class="header-menu">
        @Html.Partial("_HeaderMenuPartial")
    </div>
    <div class="wraper">
        <div class="top">
            <div class="top-left">
                <section id="login">

                </section>
            </div>
            <div class="top-right">
                @Html.Partial("_TablePartial")
            </div>
        </div>
        <div class="content">
            <div class="content-left">
                @RenderBody()
            </div>
            <div class="content-right">
                a
            </div>
        </div>
    </div>
    <div class="footer">
        @Html.Partial("_FooterPartial")
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $('.form_datetime').datepicker({
        language: "pl"
    })
</script>
