<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/BootstrapCss/bootstrap-datepicker.css" rel="stylesheet" />
</head>

<body style="height: 100%; background-image: url('@Url.Content("~/Images/tlo.jpg")'); background-attachment: fixed;">
    <div class="header-menu">
        @Html.Partial("~/Views/Partial/Header/_HeaderMenuPartial.cshtml")
    </div>
    <div class="wraper" id="wraper">
        <div class="menu" id="menu"></div>
        @RenderBody()
    </div>
    <div class="footer">
        @Html.Partial("~/Views/Partial/Footer/_FooterPartial.cshtml")
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $('.form_datetime').datepicker({
        language: "pl"
    })
</script>
