<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/BootstrapCss/bootstrap-datepicker.css" rel="stylesheet" />
</head>

<body style="margin: 0px; height:100%; min-width:1280px; background-image: url('@Url.Content("~/Images/tlo.jpg")'); background-attachment: fixed;">
    <div class="header-menu">
        @Html.Partial("~/Views/Partial/Header/_HeaderMenuPartial.cshtml")
    </div>
    <div class="menu"></div>
    <div class="wraper">
        @*        <div class="top">
            <div class="top-left">
                <section id="login">
                    @Html.Partial("~/Views/Partial/_InfoTeamPartial.cshtml")
                </section>
            </div>
            <div class="top-right">
                @Html.Partial("~/Views/Partial/_TableMiniPartial.cshtml")
            </div>
        </div>*@
        <div class="content">
            <div class="content-left">
                <div class="top-in-left-content">
                    @Html.Partial("~/Views/Partial/Team/_TeamInfoPartial.cshtml")
                </div>
                @RenderBody()
            </div>
            <div class="content-mid">
                <div class="top-in-mid-content">
                    Miejsce na reklame.
                </div>
            </div>
            <div class="content-right">
                <div class="top-in-right-content">
                    @Html.Partial("~/Views/Partial/Table/_TableMiniPartial.cshtml")
                </div>
                @Html.Partial("~/Views/Partial/Statistic/_StatisticPartial.cshtml")
            </div>
        </div>
    </div>
    <div class="footer">
        @Html.Partial("~/Views/Partial/Footer/_FooterPartial.cshtml")
    </div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
    $('.form_datetime').datepicker({
        language: "pl"
    })
</script>
