<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="margin: 0px; background-image: url('@Url.Content("~/Images/tlo.jpg")')";>
    <div class="content-login">
        @RenderBody()
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
