<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.qtip.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.qtip.js"></script>
    <script src="~/Scripts/DialogForm.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
</head>

<body style="margin: 0px; min-height: 915px; max-height: 915px; background-image: url('@Url.Content("~/Images/tlo.jpg")')";>
    <div class="header-menu">
        @Html.Partial("_HeaderMenuPartial")
    </div>
    <div class="content-login">
        @RenderBody()
    </div>
    <div class="footer">
        @Html.Partial("_FooterPartial")
    </div>

</body>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.pl.js"></script>
<script type="text/javascript">
    $('#form_datetime').datepicker({
        format: "dd-mm-yyyy",
        startDate: "01-01-1920",
        endDate: "01-01-2007",
        language: "pl",
        orientation: "top left"
    });

</script>
</html>
