@model WebApplicationManagementFootballLeague.Models.ModelsView.TeamModelView
<div style="background-color: rgba(255, 255, 255, 0.8); height: 100%; overflow: auto;">
    <div class="panel panel-primary">
        <div class="panel-heading panell">Kontakt</div>
        <div class="panel-body">
            <div class="strony-szablony-pl-layout-cell strony-szablony-pl-content clearfix">
                <fieldset>  
    <legend>Send Email  
    </legend>  
    @using (@Html.BeginForm("ShowTeamContact", "Team", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))  
    {  
        @Html.ValidationSummary()  
        <table style="background-color:aliceblue;">  
            <tr>  
                <td> To:  
                </td>  
                <td>  
                    @Html.TextBoxFor(m => m.objModelMail.To)  
                </td>  
            </tr>  
            <tr>  
                <td>Subject:  
                </td>  
                <td>  
                    @Html.TextBoxFor(m => m.objModelMail.Subject)  
                </td>  
            </tr>  
            <tr>  
                <td>Attachment  
                </td>  
                <td>  
                    <input type="file" name="fileUploader" />  
                </td>  
            </tr>  
            <tr>  
                <td>Mail Body:  
                </td>  
                <td>  
                    @Html.TextAreaFor(m => m.objModelMail.Body)  
                </td>  
            </tr>  
            <tr>  
                <td></td>  
                <td>  
                    <input type="submit" value="Send" style="width: 100px;" /></td>  
            </tr>  
        </table>      
    }  
</fieldset>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == 'Sent') {
            alert('Mail has been sent successfully');
        }
    });
</script> 