@model WebApplicationManagementFootballLeague.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="box-sigin" style="">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Dołącz do nas i poznaj Twoją ulubioną ligę.</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8" style="border-right: 1px dotted #C2C2C2; padding-right: 30px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Login" data-toggle="tab">Logowanie</a></li>
                        <li><a href="#Registration" data-toggle="tab">Rejestracja</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Login">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                if (ViewBag.ErrorMessage != null)
                                {
                                <div class="alert alert-danger" role="alert" style="font-size: 15px;">
                                    <p>@ViewBag.ErrorMessage</p>
                                </div>
                                }
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="input-group textbox-in-login">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-user"></span></span>
                                                @Html.TextBoxFor(m => m.UserName, new { @type = "text", @name = "UserName", @class = "form-control Lewa", @placeholder = "E-mail" })
                                                @Html.ValidationMessageFor(m => m.UserName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <div class="input-group textbox-in-login">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-lock"></span></span>
                                                @Html.PasswordFor(m => m.Password, new { @type = "text", @class = "form-control Lewa", @placeholder = "Hasło" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-10">
                                            <br />
                                            <button type="submit" class="btn btn-primary btn-sm">Zaloguj </button>
                                            <a href="javascript:;">Zapomniałeś hasła?</a>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                        <div class="tab-pane" id="Registration">
                            @using (Html.BeginForm("Register", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <form class="form-signin" id="signin-form" style="margin-right: 0px">
                                    <div class="row roww">
                                        <div class="col-xs-6">
                                            <div class="input-group textbox-in-registry">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-user"></span></span>
                                                @Html.TextBoxFor(m => m.UserName, new { @type = "text", @class = "form-control", @placeholder = "E-mail" })
                                                @Html.ValidationMessageFor(m => m.UserName)
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                        </div>
                                    </div>
                                    <div class="row roww">
                                        <div class="col-xs-6">
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group textbox-in-registry">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-lock"></span></span>
                                                @Html.PasswordFor(m => m.Password, new { @type = "text", @class = "form-control Password", @placeholder = "Hasło" })
                                                @Html.ValidationMessageFor(m => m.Password)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row roww">
                                        <div class="col-xs-6">
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group textbox-in-registry">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-lock"></span></span>
                                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "text", @class = "form-control", @placeholder = "Powtórz Hasło" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row roww">
                                        <div class="col-xs-6">
                                            <div class="input-group textbox-in-registry">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-user"></span></span>
                                                @Html.TextBoxFor(m => m.firstName, new { @type = "text", @class = "form-control", @placeholder = "Imie" })
                                                @Html.ValidationMessageFor(m => m.firstName)
                                            </div>
                                        </div>
                                        <div class="col-xs-5">
                                        </div>
                                    </div>
                                    <div class="row roww">
                                        <div class="col-xs-6">
                                            <div class="input-group textbox-in-registry">
                                                <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-user"></span></span>
                                                @Html.TextBoxFor(m => m.lastName, new { @type = "text", @class = "form-control", @placeholder = "Nazwisko" })
                                                @Html.ValidationMessageFor(m => m.lastName)
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="row roww">
                                        <div class="col-xs-6">
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Rejestruj</button>
                                        </div>
                                        <div class="col-xs-6">
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                    <div id="OR" class="hidden-xs">
                        LUB
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row text-center sign-with">
                        <div class="col-md-12">
                            <h3>Zaloguj się za pomocą</h3>
                        </div>
                        <div class="col-md-6" style="padding-left: 0px;">
                            @*                            @Html.ActionLink("Facebook", "ExternalLogin", "Account", new { provider = "facebook", style = "background: url('" + Url.Content("~/Images/facebook-login.png") + "') no-repeat center right; display:block;", data_max_rows = "1", data_size = "medium", data_show_faces = "false", data_auto_logout_link = "false" })*@
                            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "facebook" })">
                                <img alt="your logo" src="~/Images/facebook-login%20.png" />
                            </a>
                        </div>
                        <div class="col-md-6" style="padding-left: 0px;">
                            @* @Html.ActionLink("Google", "ExternalLogin", "Account", new { provider = "google", style = "background: url('" + Url.Content("~/Images/google-login.png") + "') no-repeat center right; display:block;", }, null)*@
                            <a href="@Url.Action("ExternalLogin", "Account", new { provider = "google" })">
                                <img src="~/Images/google-login.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '834877566554270',
            xfbml: true,
            version: 'v2.2'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>*@
@*<div class="page-header">
        <h1 style="text-align: center">Logowanie</h1>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (ViewBag.ErrorMessage != null)
        {
        <div class="alert alert-danger" role="alert" style="font-size: 15px;">
            <p>@ViewBag.ErrorMessage</p>
        </div>
        }
        <form class="form-signin" id="signin-form" style="margin-right: 0px">
            <div class="row roww">
                <div class="col-sm-12">
                    <div class="input-group textbox-in-login">
                        <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-user"></span></span>
                        @Html.TextBoxFor(m => m.UserName, new { @type = "text", @name = "UserName", @class = "form-control Lewa", @placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group textbox-in-login">
                        <span class="input-group-addon" style="background-color: white;"><span class="glyphicon glyphicon-lock"></span></span>
                        @Html.PasswordFor(m => m.Password, new { @type = "text", @class = "form-control Lewa", @placeholder = "Hasło" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            </div>
            @Html.CheckBoxFor(m => m.RememberMe)
            <label style="font-size: 13px">Zapamiętaj</label>
            <br />
            <br />

            <div class="row roww">
                <div class="col-xs-6">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Zaloguj</button>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
        </form>
    }*@
@*        <div class="omb_login">
            <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <div class="col-md-4">
                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter visible-xs"></i>
                        <span class="hidden-xs">Twitter</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-lg btn-block omb_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3 omb_loginOr">
                <div class="col-md-12">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3">
                <div class="col-md-12">
                    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="email address">
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <span class="help-block">Password error</span>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    </form>
                </div>
            </div>
            <div class="row omb_row-sm-offset-3">
                <div class="col-md-12">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me">Remember Me
                    </label>
                </div>
                <div class="col-md-12">
                    <p class="omb_forgotPwd">
                        <a href="#">Forgot password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<script src="~/Scripts/jquery.qtip.validation.js"></script>*@
