@model WebApplicationManagementFootballLeague.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}

<section class="form-signin" id="loginForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)

        @Html.CheckBoxFor(m => m.RememberMe) <label>RememberMe</label>
        <br />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> 
        <p>
            <center>or</center>
            <br />
            <input type="button" class="btn btn-lg btn-primary btn-block" value="Register new Account" onclick="location.href='@Url.Action("Register", "Account")    '" />
        </p>
    }
</section>
