@model WebApplicationManagementFootballLeague.Models.ModelsView.TeamModelView

<div style="background-color: rgba(255, 255, 255, 0.8); height: 100%; overflow: auto;">
    <div class="panel panel-primary">
        <div class="panel-heading panell">Tabela</div>
        <div class="panel-body">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th class="Lp" style="width: 5%">ID</th>
                        <th style="width: 30%">Nazwa</th>
                        <th style="width: 10%">M.</th>
                        <th style="width: 10%">Pkt.</th>
                        <th style="width: 10%">W.</th>
                        <th style="width: 10%">R.</th>
                        <th style="width: 10%">P.</th>
                        <th style="width: 10%">Br+</th>
                        <th style="width: 10%">Br-</th>
                    </tr>
                </thead>
                @*            <tr class="wtabeli1">
                <td class="Lp" style="width: 10%">1</td>
                <td style="width: 30%">Olimpia Wola Zalężna</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">30</td>
            </tr>
            <tr>
                <td class="Lp" style="width: 10%">2</td>
                <td style="width: 30%">LKS Radzice</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
            </tr>
            <tr>
                <td class="Lp" style="width: 10%">3</td>
                <td style="width: 30%">LKS Czarnocin</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
            </tr>*@
                @foreach (var team in Model.listOfTeams)
                {
                    if (team.ID_team == @Model.ID_team)
                    {
                    <tr style="background-color: rgb(66, 139, 202); color: white">
                        <td class="Lp" style="width: 5%">@team.ID_team</td>
                        <td style="width: 35%">@team.name</td>
                        <td style="width: 10%">@team.numberOfMatches</td>
                        <td style="width: 10%">@team.points</td>
                        <td style="width: 10%">@team.numberOfWins</td>
                        <td style="width: 10%">@team.numberOfDraws</td>
                        <td style="width: 10%">@team.numberOfLosses</td>
                        <td style="width: 10%">@team.numberOfGoalsScored</td>
                        <td style="width: 10%">@team.numberOfGoalsLost</td>
                    </tr>
                    }
                    else
                    {
                    <tr>
                        <td class="Lp" style="width: 5%">@team.ID_team</td>
                        <td style="width: 35%">@team.name</td>
                        <td style="width: 10%">@team.numberOfMatches</td>
                        <td style="width: 10%">@team.points</td>
                        <td style="width: 10%">@team.numberOfWins</td>
                        <td style="width: 10%">@team.numberOfDraws</td>
                        <td style="width: 10%">@team.numberOfLosses</td>
                        <td style="width: 10%">@team.numberOfGoalsScored</td>
                        <td style="width: 10%">@team.numberOfGoalsLost</td>
                    </tr>
                    }
                }
                @*            <tr>
                <td class="Lp" style="width: 10%">11</td>
                <td style="width: 30%">LKS Czarnocin</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
            </tr>
            <tr>
                <td class="Lp" style="width: 10%">12</td>
                <td style="width: 30%">LKS Czarnocin</td>
                <td style="width: 10%">10</td>
                <td style="width: 10%">28</td>
            </tr>*@
            </table>
        </div>
    </div>
</div>
